body{
  background-color: #1c9375;
}

.jumbotron{
  background-color: #85dbc5;
  text-align: center;
  width: 100%;
}

p{
  margin-top: 20px;
  color: white;
}
h2 {
  color: white;
}

#result {
  display: none;
  color: white;
  font-style: italic;
}
#encrypt {  
  font-size: 20pt;
}
#output {
  font-style: italic;
}

button {
  margin-top: 20px;
}
